//variables
$color-principal: cyan;



/*head*/

@mixin titulo {
    color: rgb(253, 252, 252);
    -webkit-text-stroke: 2px rgb(8, 8, 8);
}

h1 {
    font-family: 'Akaya Telivigala', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Mochiy Pop P One', sans-serif;
    height: 0;
    @include titulo();
    margin-left: 30px;
    margin-top: 10px;

    animation-duration: 3s;
    animation-name: aparecer;

    

}



/*Efecto de head*/
ul {
    height: 100px;
    transition: 2s;
}

/*tamañodecarousel-linea5991*/

/*header*/
header {
    background-color: $color-principal;

}


/*menu-colorLinea3009*/
li {
    display: inline-block;
    width: 80px;
    padding: 4% 1%;
    position: relative;
    left: 62%;
}


/*Estilo de Section*/
section {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
    margin: 40px;
}

/*footer*/
h2 {
    font-family: 'Acme', sans-serif;
    font-family: 'Akaya Telivigala', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Righteous', cursive;
    margin-left: 3%;
    margin-top: 3%;
    margin-bottom: 2%;
}

.horario {
    margin-left: 5%;
}

.direccion {
    margin-left: 5%;
}

h6 {
    text-align: center;
}

footer {
    grid-area: footer;
    justify-content: space-around;
    background-color: #292727;
    color: white;
}


.facebook {
    height: 110px;
    padding: 30px;
    position: relative;
    left: 70%;
}

.instagram {
    height: 110px;
    padding: 30px;
    position: relative;
    left: 70%;

}

.whatsapp {
    height: 110px;
    padding: 30px;
    position: relative;
    left: 70%;

}

/*Pag.Contacto*/
form {
    margin-left: 5%;
}

/*pag.Somos*/
.seccionsomos {
    margin-top: 3%;
    margin-bottom: 3%;
    position: relative;
    text-align: justify;
    margin-left: 25%;
}

.titulo {
    margin-left: 4%;
}